.scroll-img {
    background-image: url('../../../public/misc-images/scroll-img-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.avatar-style {
    position: fixed;
    height: 80px;
    width: auto;
    left: 16px;
    bottom: 130px;
}

@media screen and (max-width: 640px) {
    .avatar-style {
        bottom: 0px;
    }
}