.scroll-img {
    background-image: url('../../../public/misc-images/scroll-img-3.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.avatar-container {
    position: fixed;
    left: 16px;
    bottom: 75px;
}

.avatar-style {
    height: 150px;
    width: auto;
}

.torch-container {
    position: absolute;
    top: 0px;
    right: 10px;
}

@media screen and (max-width: 640px) {
    .avatar-container {
        bottom: 0px;
        left: 0px;
    }

    .avatar-style {
        height: 100px;
        width: auto;
    }

    .torch-container {
        top: 18px;
        right: 8px;
    }
}